.titulo-principal {
	padding-left:20px;
}

#banner {
	width:100%;
}

.principal {
	background: #E1E6E7;
	padding:30px;
}

.titulo-centralizado{
	text-align:center;
}

p {
	text-align:center;
}

em strong {
	color: #EE2929;
}

#missao {
	font-size:20px;
}

.beneficios{
	background:#FFFFFF;
	padding:20px;
}

ul {
	display: inline-block;
	vertical-align:top;
	width:20%;
	margin-right:15%;
}

.itens {
	font-style:italic;
}

.imgbeneficios {
	width:50%;
}

